<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageProcessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ImageProcessing.Properties.Settings>
            <setting name="LastSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DestinationImageType" serializeAs="String">
                <value>JPEG</value>
            </setting>
            <setting name="SourceImageType" serializeAs="String">
                <value>JPEG</value>
            </setting>
            <setting name="RecurseSubfolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverwriteExisting" serializeAs="String">
                <value>False</value>
            </setting>
        </ImageProcessing.Properties.Settings>
    </userSettings>
</configuration>